---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/HeroSection.astro";
import HowToSection from "@/components/HowToSection.astro";
import FeaturesSection from "@/components/FeaturesSection.astro";
import FAQsection from "@/components/FAQsection.astro";
---

<Layout>
  <Container>
    <div class="flex flex-col min-h-screen px-2 py-3 space-y-4">
      <HeroSection />
      <div class="flex flex-col gap-4">
        <article class="space-y-4 text-justify indent-8">
          <p>
            Swift Search is a powerful Chrome extension designed to enhance your
            web browsing experience. Unlike traditional bookmarks, this
            extension offers a streamlined, mouse-free solution for accessing
            your favorite websites. With Swift Search, you can quickly access
            your saved sites from any web page using a keyboard shortcut.
          </p>
        </article>
      </div>
      <HowToSection />
      <FeaturesSection />
      <FAQsection />
    </div>
    <p class="py-1 text-sm text-center bg-primary text-primary-foreground">
      Made by <a
        class="underline underline-offset-2"
        target="_blank"
        href="https://github.com/chirag-chhajed">Chirag</a
      >
    </p>
  </Container>
</Layout>
