---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Swift Search: A Chrome extension for lightning-fast, mouse-free website access, complete with search functionality."
    />
    <title>Swift Search</title>
  </head>
  <body class="grid h-screen place-content-center">
    <h1 class="text-4xl font-bold">Swift Search</h1>
    <p>Website in progress</p>
  </body>
</html>
