---
import { Image } from "astro:assets";
import uninstall from "../assets/kya-itna-bura-hoon-mein-maa.jpg";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
---

<Layout>
  <Container>
    <div class="grid min-h-screen place-content-center">
      <Image
        class={"w-[clamp(200px,400px,780px)]"}
        src={uninstall}
        alt={"uninstall image"}
        height={720}
        width={1280}
      />
    </div>
  </Container>
</Layout>
